# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [1]:
#!pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     -------------------------------------- 43.8/43.8 KB 714.6 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [1]:
db_name = "database-1"
username = "admin"
password = "hola123456789"

host = "database-1.ckazj8ut3bmc.us-east-2.rds.amazonaws.com"
port = 3306

### Conexion BD

In [2]:
import pymysql

In [3]:
'''
pymysql.cursors.DictCursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas.
'''
db = pymysql.connect(host=host,
user=username,
password = password,
cursorclass = pymysql.cursors.DictCursor)

cursor = db.cursor()

### Version DB

In [4]:
'''
Este es el engine version de la BD de AWS
fechtone trae la primera linea de la consulta
El execute() devuelve el numero de filas a las que ha afectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries
de insert de datos y esas cosas...
'''
cursor.execute("SELECT VERSION()")
version = cursor.fetchone()
print(f"MySQL instance version: {version}")

MySQL instance version: {'VERSION()': '8.0.27'}

### Creación de DB

In [6]:
# Creamos una BD. Tenemos una instancia de MySQL, pero no una BD
# Los comandos de SQL  se suelen poner en mayuscula


# Podemos eliminar la BD


# La volvemos a crear

# el output es el numero de filas afectadas

1

[{'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

### Creación de tablas

In [10]:
'''
Creamos una tabla
Esto da error porque no le hemos dicho al servidor qué BD
queremos usar

'''


# crear una tabla que se llame country

0

### Seleccionar la BD

In [9]:
# Para usar la BD  recien creada

0

In [11]:
# checkear todas las tablas que tiene mi db

[{'Tables_in_country_database': 'country'}]

In [ ]:
"""
Si queremos borrar alguna tabla

drop_table = '''DROP TABLE country'''
cursor.execute(drop_table)

"""

### Insertar datos

1

### Leer datos

1

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.4}]

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

### Insertar datos de un CSV

In [17]:
# Creamos el CSV

In [18]:
# leemos los datos

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\roaming\python\python37\site-packages (1.4.29)
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.31-cp37-cp37m-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 9.0 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp37-cp37m-win_amd64.whl (101 kB)
     -------------------------------------- 101.2/101.2 KB 5.7 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata in c:\users\admin\appdata\roaming\python\python37\site-packages (from sqlalchemy) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in c:\users\admin\appdata\roaming\python\python37\site-packages (from importlib-metadata->sqlalchemy) (3.6.0)
Installing collected packages: greenlet, sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.29
    Uninstalling SQLAlchemy-1.4.29:
      Successfully uninstalled SQLAlchemy-1.4.29
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.31
Note: you may need to restart the kernel to use updated packages.

In [20]:


# create sqlalchemy engine

In [21]:
# insertamos todo el dataframe

In [23]:
# leemos los datos para comprobar que se han ingestado correctamente

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.4},
 {'id': 2,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 3,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 4,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 5,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8}]

### Cerrar la conexión cuando acabemos